<h1><%= @link.title %></h1>

<%= link_to 'Back', links_path, class: 'btn btn-default' %>

<% if user_signed_in? %>
  <%= form_for [@link, @comment] do |f| %>
  <%= render 'layouts/errors', object: @comment %>

  <div class="form-group">
    <%= f.label :body, "Add a comment" %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Post Comment", class: 'btn btn-primary' %>
  </div>
  <% end %>
<% end %>

<%# render 'layouts/comments_form' %>

<% @link.comments.each_with_index do |comment, index| %>
  <div class="panel panel-default" id="comment-#{comment.id}">
    <div class="panel-heading">
      <%= comment.user.name %>
    </div>
      <div class="panel-body">
        <p class="lead">
          <%= comment.body %>
        </p>
      </div>
      <!-- <button id="respond#{index}" onclick="addCommentForm(this, <%= comment.id %>)" class="btn btn-default">reply</button> -->

      <%= button_to "reply", new_comment_comment_path(comment.id), id: "button-#{index}", method: "get", remote: true %>
      <div id="form-<%= comment.id %>">

      </div>
  </div>
<% end %>

<div id="comment-box" style: "height: 300;">

</div>

<script>
  // $(document).ready(function() {
  //   $("#respond")
  // });

  function addCommentForm(div, comment) {
    var test = document.createElement("div");
    var html = "<%%= render 'comments/form', {comment_id:" + comment + "} %>";
    html.replace("%%", "%");
    debugger;
    test.innerHTML = html;
    div.parentElement.appendChild(test);
  }
</script>
